<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.TodoMapper">

    <insert id = "createTodo">
        INSERT INTO todolist('title', 'content', 'target_date')
        VALUES (#{todolist.title}, #{todolist.content}, #{todolist.target_date})
    </insert>

    <update id ="setSalt">
        UPDATE todolist
        SET salt = #{salt}
        WHERE tid = #{tid}
    </update>

    <select id="getSaltToTid" resultType="string">
        SELECT salt
        FROM todolist
        WHERE tid = #{tid}
    </select>

</mapper>

