<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">

    <insert id = "signUp">
        INSERT INTO user('email', 'pw', 'name', 'nickname')
        VALUES (#{user.email}, #{user.pw}, #{user.name}, #{user.nickname})
    </insert>

    <update id ="setAge">
        UPDATE user
        SET age = #{age}
        WHERE uid = #{uid}
    </update>

    <update id ="setSex">
        UPDATE user
        SET sex = #{sex}
        WHERE uid = #{uid}
    </update>

    <update id ="setPhone">
        UPDATE user
        SET phone_number = #{phone_number}
        WHERE uid = #{uid}
    </update>

    <update id ="setAddress">
        UPDATE user
        SET address = #{address}
        WHERE uid = #{uid}
    </update>

    <update id ="setSalt">
        UPDATE user
        SET salt = #{salt}
        WHERE uid = #{uid}
    </update>

    <select id ="getSalt" resultType = "string">
        SELECT salt
        FROM user
        WHERE uid = #{uid} and is_deleted = 0
    </select>

    <select id="getUidToEmail" resultType="string">
        SELECT uid
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getPwToEmail" resultType="string">
        SELECT pw
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getSaltToUid" resultType="string">
        SELECT salt
        FROM user
        WHERE uid = #{uid}
    </select>

    <select id="getUsertoEmail" resultType="domain.UserDTO">
        SELECT pw,nickname,uid
        FROM user
        WHERE email = #{email} and is_deleted = 0
    </select>

    <update id="DeleteUser">
        UPDATE user
        SET is_deleted = 1
        WHERE uid = #{uid}
    </update>

</mapper>

